$clr_primary: #01adfd;
$clr_secondary: #ffd7d7;
$clr_tertiary: #ff8707;

$clr_bg_button: #ff4820;
$clr_bg_input: #031b34;

$clr_gradient_text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

